# Features Describtion 
* **Ranking of movie:** Movie's position in the dataset.
* **Movie name:** Name of the movie.
* **Year:** Year of movie release.
* **Certificate:** Age rating or classification of the movie.
* **Runtime:** Duration of the movie in minutes.
* **Genre:** Category or type of the movie.
* **Rating:** Score given to the movie.
* **Detail about movie:** Brief information about the movie.
* **Director:** Name of the movie's director(s).
* **Actor 1, Actor 2, Actor 3, Actor 4:** Names of the main actors or actresses.
* **Votes:** Number of votes or ratings received.
* **Metascore:** Aggregated score based on critic reviews.
* **Gross Collection:** Total box office earnings of the movie.

## Import Libraries

In [1]:
import pandas as pd 
import numpy as np

## Reading Data

In [2]:
df=pd.read_csv('imdb_movies.csv')

### Data Overview

### EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking of movie    250 non-null    int64
 1   movie name          250 non-null    object
 2   Year                250 non-null    object
 3   certificate         250 non-null    object
 4   runtime             250 non-null    object
 5   genre               250 non-null    object
 6   RATING              250 non-null    float64
 7   DETAIL ABOUT MOVIE  250 non-null    object
 8   DIRECTOR            250 non-null    object
 9   ACTOR 1             250 non-null    object
 10  ACTOR 2             250 non-null    object
 11  ACTOR 3             250 non-null    object
 12  ACTOR 4             250 non-null    object
 13  votes               250 non-null    int64
 14  metascore           218 non-null    float64
 15  GROSS COLLECTION    214 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 31.4+ KB

In [17]:
df.describe()

       ranking of movie      rating         votes   metascore
count        250.000000  250.000000  2.500000e+02  218.000000
mean         125.500000    8.308400  5.785299e+05   82.449541
std           72.312977    0.234669  4.951304e+05   10.822392
min            1.000000    8.100000  2.653800e+04   55.000000
25%           63.250000    8.100000  1.688628e+05   75.000000
50%          125.500000    8.200000  4.313355e+05   84.000000
75%          187.750000    8.400000  8.854255e+05   90.000000
max          250.000000    9.400000  2.515762e+06  100.000000

In [10]:
df.describe(include='O')

,movie name,Year,certificate,runtime,genre,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,GROSS COLLECTION
count,250,250,250,250,250,250,250,250,250,250,250,214
unique,250,90,11,102,109,250,154,185,233,241,242,204
top,Jai Bhim,-1995,R,130 min,Drama,When a tribal man is arrested for a case of al...,Christopher Nolan,Robert De Niro,Matt Damon,Joe Pesci,Diane Keaton,$4.36M
freq,1,8,106,9,22,1,7,6,3,3,2,3

In [12]:
df.columns=df.columns.str.lower()

In [14]:
df.isnull().mean()*100

ranking of movie       0.0
movie name             0.0
year                   0.0
certificate            0.0
runtime                0.0
genre                  0.0
rating                 0.0
detail about movie     0.0
director               0.0
actor 1                0.0
actor 2                0.0
actor 3                0.0
actor 4                0.0
votes                  0.0
metascore             12.8
gross collection      14.4
dtype: float64

In [16]:
df.duplicated().sum()

0

### Drop Unnecessary Columns

In [23]:
df.drop(['ranking of movie','detail about movie'],axis=1,inplace=True)

### Rename Columns in a suitable form

In [30]:
df.rename(mapper={'runtime':'runtime(m)','rating':'rating(10)','gross collection':'gross collection(M-$)'},axis=1,inplace=True)

In [32]:
df.columns

Index(['movie name ', 'year', 'certificate', 'runtime(m)', 'genre',
       'rating(10)', 'director ', 'actor 1', 'actor 2', 'actor 3', 'actor 4',
       'votes', 'metascore', 'gross collection(M-$)'],
      dtype='object')

In [42]:
for col in df.select_dtypes('object').columns:
    print(col)
    print(df[col].unique())
    print('-'*100)

movie name
['Jai Bhim' 'The Shawshank Redemption' 'The Godfather' 'The Dark Knight'
 'The Godfather: Part II' '12 Angry Men'
 'The Lord of the Rings: The Return of the King' 'Pulp Fiction'
 "Schindler's List" 'Inception' 'Spider-Man: No Way Home' 'Fight Club'
 'The Lord of the Rings: The Fellowship of the Ring' 'Forrest Gump'
 'The Good, the Bad and the Ugly' 'The Lord of the Rings: The Two Towers'
 'The Matrix' 'Goodfellas'
 'Star Wars: Episode V - The Empire Strikes Back'
 "One Flew Over the Cuckoo's Nest" 'Parasite' 'Interstellar' 'City of God'
 'Spirited Away' 'Saving Private Ryan' 'The Green Mile'
 'Life Is Beautiful' 'Se7en' 'The Silence of the Lambs'
 'Star Wars: Episode IV - A New Hope' 'Hara-Kiri' 'Seven Samurai'
 "It's a Wonderful Life" 'Whiplash' 'The Intouchables' 'The Prestige'
 'The Departed' 'The Pianist' 'Gladiator' 'American History X'
 'The Usual Suspects' 'Léon: The Professional' 'The Lion King'
 'Terminator 2: Judgment Day' 'Cinema Paradiso' 'Grave of the Fireflies'
 'Back to the Future' 'Once Upon a Time in the West' 'Psycho'
 'Rear Window' 'Casablanca' 'Modern Times' 'City Lights' 'Hamilton'
 'Capernaum' 'Joker' 'Your Name.' 'Dangal'
 'Spider-Man: Into the Spider-Verse' 'Avengers: Endgame'
 'Avengers: Infinity War' 'Coco' 'Django Unchained'
 'The Dark Knight Rises' '3 Idiots' 'Like Stars on Earth' 'WALL·E'
 'The Lives of Others' 'Oldboy' 'Memento' 'Princess Mononoke'
 'Indiana Jones and the Raiders of the Lost Ark' 'The Shining'
 'Apocalypse Now' 'Alien' 'High and Low'
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb'
 'Witness for the Prosecution' 'Paths of Glory' 'Pather Panchali'
 'Sunset Blvd.' 'The Great Dictator' '1917' 'The Hunt' 'A Separation'
 'Incendies' 'The Father' 'Inglourious Basterds'
 'Eternal Sunshine of the Spotless Mind' 'Amélie' 'Requiem for a Dream'
 'American Beauty' 'Good Will Hunting' 'Children of Heaven' 'Toy Story'
 'Braveheart' 'Reservoir Dogs' 'Full Metal Jacket' 'Come and See' 'Aliens'
 'Once Upon a Time in America' 'Amadeus' 'Scarface'
 'Star Wars: Episode VI - Return of the Jedi' 'Das Boot' 'Dersu Uzala'
 'The Sting' 'A Clockwork Orange' '2001: A Space Odyssey'
 'Lawrence of Arabia' 'The Apartment' 'North by Northwest' 'Vertigo'
 "Singin' in the Rain" 'Ikiru' 'Bicycle Thieves' 'Double Indemnity'
 'Citizen Kane' 'M' 'Metropolis' 'The Kid' 'Andhadhun' 'Green Book'
 'A Silent Voice: The Movie' 'Klaus' 'Gangs of Wasseypur'
 'The Secret in Their Eyes' 'Dune' 'Shutter Island' 'Up'
 'Miracle in Cell No. 7' 'The Wolf of Wall Street' 'My Father and My Son'
 'There Will Be Blood' "Pan's Labyrinth" 'Toy Story 3' 'Batman Begins'
 'Downfall' "Howl's Moving Castle" 'A Beautiful Mind' 'Snatch'
 'Lock, Stock and Two Smoking Barrels' 'L.A. Confidential' 'The Bandit'
 'Heat' 'Casino' 'Unforgiven' 'Indiana Jones and the Last Crusade'
 'My Neighbor Totoro' 'Die Hard' 'Ran' 'Raging Bull' 'Autumn Sonata'
 'Taxi Driver' 'Monty Python and the Holy Grail' 'Chinatown' 'Z'
 'For a Few Dollars More' 'The Great Escape' 'To Kill a Mockingbird'
 'Yojimbo' 'Judgment at Nuremberg' 'Some Like It Hot' 'Wild Strawberries'
 'The Seventh Seal' 'Dial M for Murder' 'Tokyo Story' 'Rashomon'
 'All About Eve' 'The Treasure of the Sierra Madre' 'To Be or Not to Be'
 'The Gold Rush' 'Sherlock Jr.'
 'Three Billboards Outside Ebbing, Missouri' 'The Handmaiden' 'Logan'
 'Room' 'Wild Tales' 'The Grand Budapest Hotel' 'Gone Girl'
 'Hacksaw Ridge' 'Inside Out' '12 Years a Slave' 'Rush' 'Ford v Ferrari'
 'Spotlight' 'Prisoners' 'Mad Max: Fury Road' 'Warrior' 'Gran Torino'
 'Harry Potter and the Deathly Hallows: Part 2' "Hachi: A Dog's Tale"
 'Mary and Max' 'How to Train Your Dragon' 'Into the Wild'
 'No Country for Old Men' 'V for Vendetta' 'Million Dollar Baby'
 'Hotel Rwanda' 'Before Sunset' 'Memories of Murder' 'Kill Bill: Vol. 1'
 'Finding Nemo' 'Catch Me If You Can' 'Amores perros' 'Monsters, Inc.'
 'Neon Genesis Evangelion: The End of Evangelion' 'The Sixth Sense'
 'The Truman Show' 'The Big Lebowski' 'In the Mood for Love'
 'Trainspotting' 'Fargo' 'La Haine' 'Before Sunrise' 'Jurassic Park'
 'In the Name of the Father' 'Dead Poets Society' 'The Princess Bride'
 'Stand by Me' 'Platoon' 'Paris, Texas'
 'Nausicaä of the Valley of the Wind' 'The Thing' 'Fanny and Alexander'
 'Blade Runner' 'The Elephant Man' 'Stalker' 'Life of Brian'
 'The Deer Hunter' 'Rocky' 'Network' 'Barry Lyndon' 'Cool Hand Luke'
 'Persona' 'Andrei Rublev' 'The Battle of Algiers' 'The 400 Blows'
 'Ben-Hur' 'Nights of Cabiria' 'The Bridge on the River Kwai'
 'On the Waterfront' 'The Wages of Fear' 'The Third Man' 'Rebecca'
 'Mr. Smith Goes to Washington' 'Gone with the Wind'
 'It Happened One Night' 'The Passion of Joan of Arc' 'The General']
----------------------------------------------------------------------------------------------------
year
['-2021' '-1994' '-1972' '-2008' '-1974' '-1957' '-2003' '-1993' '-2010'
 '-1999' '-2001' '-1966' '-2002' '-1990' '-1980' '-1975' '-2019' '-2014'
 '-1998' '-1997' '-1995' '-1991' '-1977' '-1962' '-1954' '-1946' '-2011'
 '-2006' '-2000' '-1988' '-1985' '-1968' '-1960' '-1942' '-1936' '-1931'
 '-2020' '-2018' '-2016' '(I) (2017)' '-2012' '-2009' '-2007' '-1981'
 '-1979' '-1963' '-1964' '-1955' '-1950' '-1940' '(I) (2020)' '-2004'
 '-1992' '-1987' '-1986' '-1984' '-1983' '-1973' '-1971' '-1959' '-1958'
 '-1952' '-1948' '-1944' '-1941' '-1927' '-1921' '-2013' '-2005' '-1996'
 '-1989' '-1978' '-1976' '-1969' '-1965' '-1961' '-1953' '-1925' '-1924'
 '-2017' '(I) (2015)' '(I) (2013)' '-2015' '-1982' '-1967' '-1949' '-1939'
 '-1934' '-1928' '-1926']
----------------------------------------------------------------------------------------------------
certificate
['TV-MA' 'R' 'PG-13' 'Approved' 'PG' 'Not Rated' 'G' 'Passed' 'TV-14' 'M'
 'GP']
----------------------------------------------------------------------------------------------------
runtime(m)
['164 min' '142 min' '175 min' '152 min' '202 min' '96 min' '201 min'
 '154 min' '195 min' '148 min' '139 min' '178 min' '179 min' '136 min'
 '146 min' '124 min' '133 min' '132 min' '169 min' '130 min' '125 min'
 '189 min' '116 min' '127 min' '118 min' '121 min' '207 min' '106 min'
 '112 min' '151 min' '150 min' '155 min' '119 min' '110 min' '88 min'
 '137 min' '89 min' '165 min' '109 min' '102 min' '87 min' '160 min'
 '126 min' '122 min' '161 min' '117 min' '181 min' '149 min' '105 min'
 '170 min' '98 min' '101 min' '113 min' '134 min' '115 min' '147 min'
 '143 min' '95 min' '123 min' '131 min' '97 min' '153 min' '108 min'
 '81 min' '99 min' '229 min' '129 min' '228 min' '128 min' '103 min'
 '107 min' '68 min' '321 min' '138 min' '180 min' '158 min' '140 min'
 '156 min' '135 min' '86 min' '162 min' '114 min' '91 min' '172 min'
 '45 min' '145 min' '120 min' '93 min' '92 min' '80 min' '111 min'
 '100 min' '141 min' '188 min' '94 min' '183 min' '185 min' '83 min'
 '205 min' '212 min' '238 min' '67 min']
----------------------------------------------------------------------------------------------------
genre
['Crime, Drama' 'Drama' 'Action, Crime, Drama' 'Action, Adventure, Drama'
 'Biography, Drama, History' 'Action, Adventure, Sci-Fi'
 'Action, Adventure, Fantasy' 'Drama, Romance' 'Adventure, Western'
 'Action, Sci-Fi' 'Biography, Crime, Drama' 'Comedy, Drama, Thriller'
 'Adventure, Drama, Sci-Fi' 'Animation, Adventure, Family' 'Drama, War'
 'Crime, Drama, Fantasy' 'Comedy, Drama, Romance' 'Crime, Drama, Mystery'
 'Crime, Drama, Horror' 'Action, Drama, Mystery' 'Action, Drama'
 'Drama, Family, Fantasy' 'Drama, Music' 'Biography, Comedy, Drama'
 'Drama, Mystery, Thriller' 'Biography, Drama, Music'
 'Animation, Adventure, Drama' 'Animation, Drama, War'
 'Adventure, Comedy, Sci-Fi' 'Western' 'Horror, Mystery, Thriller'
 'Mystery, Thriller' 'Drama, Romance, War' 'Comedy, Drama, Family'
 'Crime, Drama, Thriller' 'Animation, Drama, Fantasy'
 'Action, Biography, Drama' 'Animation, Action, Adventure'
 'Animation, Adventure, Comedy' 'Drama, Western' 'Comedy, Drama'
 'Drama, Family' 'Action, Adventure' 'Drama, Horror' 'Drama, Mystery, War'
 'Horror, Sci-Fi' 'Comedy, War' 'Drama, Film-Noir' 'Comedy, Drama, War'
 'Action, Drama, War' 'Drama, Mystery' 'Adventure, Drama, War'
 'Drama, Romance, Sci-Fi' 'Comedy, Romance' 'Drama, Family, Sport'
 'Drama, Thriller, War' 'Adventure, Biography, Drama'
 'Comedy, Crime, Drama' 'Crime, Sci-Fi' 'Adventure, Sci-Fi'
 'Adventure, Mystery, Thriller' 'Mystery, Romance, Thriller'
 'Comedy, Musical, Romance' 'Crime, Drama, Film-Noir'
 'Crime, Mystery, Thriller' 'Drama, Sci-Fi' 'Comedy, Crime, Music'
 'Animation, Drama' 'Action, Comedy, Crime' 'Drama, Mystery, Romance'
 'Biography, Comedy, Crime' 'Drama, Fantasy, War' 'Biography, Drama'
 'Comedy, Crime' 'Animation, Comedy, Family' 'Action, Thriller'
 'Biography, Drama, Sport' 'Adventure, Comedy, Fantasy'
 'Crime, Drama, History' 'Adventure, Drama, History'
 'Action, Drama, Thriller' 'Comedy, Music, Romance'
 'Drama, Fantasy, History' 'Crime, Thriller' 'Adventure, Drama, Western'
 'Comedy, Romance, War' 'Adventure, Comedy, Drama'
 'Action, Comedy, Romance' 'Drama, Romance, Thriller'
 'Action, Drama, Sci-Fi' 'Drama, Thriller' 'Adventure, Comedy, Crime'
 'Action, Drama, Sport' 'Adventure, Fantasy, Mystery'
 'Biography, Drama, Family' 'Animation, Comedy, Drama' 'Drama, Sport'
 'Animation, Action, Drama' 'Comedy, Crime, Sport'
 'Adventure, Family, Fantasy' 'Adventure, Drama'
 'Animation, Adventure, Sci-Fi' 'Horror, Mystery, Sci-Fi' 'Comedy'
 'Adventure, Drama, Thriller' 'Film-Noir, Mystery, Thriller'
 'Drama, Film-Noir, Mystery' 'Drama, History, Romance'
 'Action, Adventure, Comedy']
----------------------------------------------------------------------------------------------------
director
['T.J. Gnanavel' 'Frank Darabont' 'Francis Ford Coppola'
 'Christopher Nolan' 'Sidney Lumet' 'Peter Jackson' 'Quentin Tarantino'
 'Steven Spielberg' 'Jon Watts' 'David Fincher' 'Robert Zemeckis'
 'Sergio Leone' 'Lana Wachowski' 'Martin Scorsese' 'Irvin Kershner'
 'Milos Forman' 'Bong Joon Ho' 'Fernando Meirelles' 'Hayao Miyazaki'
 'Roberto Benigni' 'Jonathan Demme' 'George Lucas' 'Masaki Kobayashi'
 'Akira Kurosawa' 'Frank Capra' 'Damien Chazelle' 'Olivier Nakache'
 'Roman Polanski' 'Ridley Scott' 'Tony Kaye' 'Bryan Singer' 'Luc Besson'
 'Roger Allers' 'James Cameron' 'Giuseppe Tornatore' 'Isao Takahata'
 'Alfred Hitchcock' 'Michael Curtiz' 'Charles Chaplin' 'Thomas Kail'
 'Nadine Labaki' 'Todd Phillips' 'Makoto Shinkai' 'Nitesh Tiwari'
 'Bob Persichetti' 'Anthony Russo' 'Lee Unkrich' 'Rajkumar Hirani'
 'Aamir Khan' 'Andrew Stanton' 'Florian Henckel von Donnersmarck'
 'Park Chan-Wook' 'Stanley Kubrick' 'Billy Wilder' 'Satyajit Ray'
 'Sam Mendes' 'Thomas Vinterberg' 'Asghar Farhadi' 'Denis Villeneuve'
 'Florian Zeller' 'Michel Gondry' 'Jean-Pierre Jeunet' 'Darren Aronofsky'
 'Gus Van Sant' 'Majid Majidi' 'John Lasseter' 'Mel Gibson' 'Elem Klimov'
 'Brian De Palma' 'Richard Marquand' 'Wolfgang Petersen' 'George Roy Hill'
 'David Lean' 'Stanley Donen' 'Vittorio De Sica' 'Orson Welles'
 'Fritz Lang' 'Sriram Raghavan' 'Peter Farrelly' 'Naoko Yamada'
 'Sergio Pablos' 'Anurag Kashyap' 'Juan José Campanella' 'Pete Docter'
 'Mehmet Ada Öztekin' 'Cagan Irmak' 'Paul Thomas Anderson'
 'Guillermo del Toro' 'Oliver Hirschbiegel' 'Ron Howard' 'Guy Ritchie'
 'Curtis Hanson' 'Yavuz Turgul' 'Michael Mann' 'Clint Eastwood'
 'John McTiernan' 'Ingmar Bergman' 'Terry Gilliam' 'Costa-Gavras'
 'John Sturges' 'Robert Mulligan' 'Stanley Kramer' 'Yasujirô Ozu'
 'Joseph L. Mankiewicz' 'John Huston' 'Ernst Lubitsch' 'Buster Keaton'
 'Martin McDonagh' 'James Mangold' 'Lenny Abrahamson' 'Damián Szifron'
 'Wes Anderson' 'Steve McQueen' 'Tom McCarthy' 'George Miller'
 "Gavin O'Connor" 'David Yates' 'Lasse Hallström' 'Adam Elliot'
 'Dean DeBlois' 'Sean Penn' 'Ethan Coen' 'James McTeigue' 'Terry George'
 'Richard Linklater' 'Alejandro G. Iñárritu' 'Hideaki Anno'
 'M. Night Shyamalan' 'Peter Weir' 'Joel Coen' 'Kar-Wai Wong'
 'Danny Boyle' 'Mathieu Kassovitz' 'Jim Sheridan' 'Rob Reiner'
 'Oliver Stone' 'Wim Wenders' 'John Carpenter' 'David Lynch'
 'Andrei Tarkovsky' 'Terry Jones' 'Michael Cimino' 'John G. Avildsen'
 'Stuart Rosenberg' 'Gillo Pontecorvo' 'François Truffaut' 'William Wyler'
 'Federico Fellini' 'Elia Kazan' 'Henri-Georges Clouzot' 'Carol Reed'
 'Victor Fleming' 'Carl Theodor Dreyer' 'Clyde Bruckman']
----------------------------------------------------------------------------------------------------
actor 1
['Suriya' 'Tim Robbins' 'Marlon Brando' 'Christian Bale' 'Al Pacino'
 'Henry Fonda' 'Elijah Wood' 'John Travolta' 'Liam Neeson'
 'Leonardo DiCaprio' 'Tom Holland' 'Brad Pitt' 'Tom Hanks'
 'Clint Eastwood' 'Lilly Wachowski' 'Robert De Niro' 'Mark Hamill'
 'Jack Nicholson' 'Kang-ho Song' 'Matthew McConaughey' 'Kátia Lund'
 'Daveigh Chase' 'Roberto Benigni' 'Morgan Freeman' 'Jodie Foster'
 'Tatsuya Nakadai' 'Toshirô Mifune' 'James Stewart' 'Miles Teller'
 'Éric Toledano' 'Adrien Brody' 'Russell Crowe' 'Edward Norton'
 'Kevin Spacey' 'Jean Reno' 'Rob Minkoff' 'Arnold Schwarzenegger'
 'Philippe Noiret' 'Tsutomu Tatsumi' 'Michael J. Fox' 'Anthony Perkins'
 'Humphrey Bogart' 'Charles Chaplin' 'Lin-Manuel Miranda' 'Zain Al Rafeea'
 'Joaquin Phoenix' 'Ryûnosuke Kamiki' 'Aamir Khan' 'Peter Ramsey'
 'Joe Russo' 'Adrian Molina' 'Jamie Foxx' 'Amole Gupte' 'Ben Burtt'
 'Ulrich Mühe' 'Choi Min-sik' 'Guy Pearce' 'Yôji Matsuda' 'Harrison Ford'
 'Martin Sheen' 'Sigourney Weaver' 'Peter Sellers' 'Tyrone Power'
 'Kirk Douglas' 'Kanu Bannerjee' 'William Holden' 'Dean-Charles Chapman'
 'Mads Mikkelsen' 'Payman Maadi' 'Lubna Azabal' 'Anthony Hopkins'
 'Jim Carrey' 'Audrey Tautou' 'Ellen Burstyn' 'Robin Williams'
 'Mohammad Amir Naji' 'Mel Gibson' 'Harvey Keitel' 'Matthew Modine'
 'Aleksey Kravchenko' 'F. Murray Abraham' 'Jürgen Prochnow'
 'Maksim Munzuk' 'Paul Newman' 'Malcolm McDowell' 'Keir Dullea'
 "Peter O'Toole" 'Jack Lemmon' 'Cary Grant' 'Gene Kelly' 'Takashi Shimura'
 'Lamberto Maggiorani' 'Fred MacMurray' 'Orson Welles' 'Peter Lorre'
 'Brigitte Helm' 'Ayushmann Khurrana' 'Viggo Mortensen' 'Miyu Irino'
 'Carlos Martínez López' 'Manoj Bajpayee' 'Ricardo Darín'
 'Timothée Chalamet' 'Bob Peterson' 'Aras Bulut Iynemli' 'Eser Sariyar'
 'Daniel Day-Lewis' 'Ivana Baquero' 'Bruno Ganz' 'Chieko Baishô'
 'Jason Statham' 'Jason Flemyng' 'Sener Sen' 'Hitoshi Takagi'
 'Bruce Willis' 'Ingrid Bergman' 'Terry Jones' 'Yves Montand'
 'Steve McQueen' 'Gregory Peck' 'Spencer Tracy' 'Marilyn Monroe'
 'Victor Sjöström' 'Max von Sydow' 'Ray Milland' 'Chishû Ryû'
 'Bette Davis' 'Carole Lombard' 'Buster Keaton' 'Frances McDormand'
 'Kim Min-hee' 'Hugh Jackman' 'Brie Larson' 'Darío Grandinetti'
 'Ralph Fiennes' 'Ben Affleck' 'Andrew Garfield' 'Ronnie Del Carmen'
 'Chiwetel Ejiofor' 'Daniel Brühl' 'Matt Damon' 'Mark Ruffalo' 'Tom Hardy'
 'Daniel Radcliffe' 'Richard Gere' 'Toni Collette' 'Chris Sanders'
 'Emile Hirsch' 'Joel Coen' 'Hugo Weaving' 'Hilary Swank' 'Don Cheadle'
 'Ethan Hawke' 'Uma Thurman' 'Lee Unkrich' 'Emilio Echevarría'
 'David Silverman' 'Kazuya Tsurumaki' 'Ethan Coen' 'Tony Chiu-Wai Leung'
 'Ewan McGregor' 'Vincent Cassel' 'Sam Neill' 'Cary Elwes' 'Wil Wheaton'
 'Charlie Sheen' 'Harry Dean Stanton' 'Sumi Shimamoto' 'Kurt Russell'
 'Bertil Guve' 'Alisa Freyndlikh' 'Graham Chapman' 'Sylvester Stallone'
 'Faye Dunaway' "Ryan O'Neal" 'Bibi Andersson' 'Anatoliy Solonitsyn'
 'Brahim Hadjadj' 'Jean-Pierre Léaud' 'Charlton Heston' 'Giulietta Masina'
 'Laurence Olivier' 'George Cukor' 'Clark Gable' 'Maria Falconetti']
----------------------------------------------------------------------------------------------------
actor 2
['Lijo Mol Jose' 'Morgan Freeman' 'Al Pacino' 'Heath Ledger'
 'Robert De Niro' 'Lee J. Cobb' 'Viggo Mortensen' 'Uma Thurman'
 'Ralph Fiennes' 'Joseph Gordon-Levitt' 'Zendaya' 'Edward Norton'
 'Ian McKellen' 'Robin Wright' 'Eli Wallach' 'Keanu Reeves' 'Ray Liotta'
 'Harrison Ford' 'Louise Fletcher' 'Sun-kyun Lee' 'Anne Hathaway'
 'Alexandre Rodrigues' 'Suzanne Pleshette' 'Matt Damon'
 'Michael Clarke Duncan' 'Nicoletta Braschi' 'Brad Pitt' 'Anthony Hopkins'
 'Akira Ishihama' 'Takashi Shimura' 'Donna Reed' 'J.K. Simmons'
 'François Cluzet' 'Hugh Jackman' 'Thomas Kretschmann' 'Joaquin Phoenix'
 'Edward Furlong' 'Gabriel Byrne' 'Gary Oldman' 'Matthew Broderick'
 'Linda Hamilton' 'Enzo Cannavale' 'Ayano Shiraishi' 'Christopher Lloyd'
 'Charles Bronson' 'Janet Leigh' 'Grace Kelly' 'Ingrid Bergman'
 'Paulette Goddard' 'Virginia Cherrill' 'Phillipa Soo' 'Yordanos Shiferaw'
 'Mone Kamishiraishi' 'Sakshi Tanwar' 'Rodney Rothman' 'Robert Downey Jr.'
 'Anthony Gonzalez' 'Christoph Waltz' 'Tom Hardy' 'Madhavan'
 'Darsheel Safary' 'Elissa Knight' 'Martina Gedeck' 'Yoo Ji-Tae'
 'Carrie-Anne Moss' 'Yuriko Ishida' 'Karen Allen' 'Shelley Duvall'
 'Marlon Brando' 'Tom Skerritt' 'Yutaka Sada' 'George C. Scott'
 'Marlene Dietrich' 'Ralph Meeker' 'Karuna Bannerjee' 'Gloria Swanson'
 'George MacKay' 'Thomas Bo Larsen' 'Leila Hatami'
 'Mélissa Désormeaux-Poulin' 'Olivia Colman' 'Diane Kruger' 'Kate Winslet'
 'Mathieu Kassovitz' 'Jared Leto' 'Annette Bening'
 'Amir Farrokh Hashemian' 'Tim Allen' 'Sophie Marceau' 'Tim Roth'
 'R. Lee Ermey' 'Olga Mironova' 'Michael Biehn' 'James Woods' 'Tom Hulce'
 'Michelle Pfeiffer' 'Herbert Grönemeyer' 'Yuriy Solomin' 'Robert Redford'
 'Patrick Magee' 'Gary Lockwood' 'Alec Guinness' 'Shirley MacLaine'
 'Eva Marie Saint' 'Kim Novak' 'Gene Kelly' 'Nobuo Kaneko' 'Enzo Staiola'
 'Barbara Stanwyck' 'Joseph Cotten' 'Ellen Widmann' 'Alfred Abel'
 'Edna Purviance' 'Tabu' 'Mahershala Ali' 'Saori Hayami'
 'Jason Schwartzman' 'Richa Chadha' 'Soledad Villamil' 'Rebecca Ferguson'
 'Emily Mortimer' 'Ed Asner' 'Nisa Sofiya Aksongur' 'Jonah Hill'
 'Çetin Tekindor' 'Paul Dano' 'Ariadna Gil' 'Michael Caine'
 'Alexandra Maria Lara' 'Takuya Kimura' 'Ed Harris' 'Dexter Fletcher'
 'Russell Crowe' 'Ugur Yücel' 'Sharon Stone' 'Gene Hackman' 'Sean Connery'
 'Noriko Hidaka' 'Alan Rickman' 'Akira Terao' 'Cathy Moriarty'
 'Liv Ullmann' 'Jodie Foster' 'Graham Chapman' 'Faye Dunaway'
 'Irene Papas' 'Lee Van Cleef' 'James Garner' 'John Megna' 'Eijirô Tôno'
 'Burt Lancaster' 'Tony Curtis' 'Bibi Andersson' 'Gunnar Björnstrand'
 'Chieko Higashiyama' 'Machiko Kyô' 'Anne Baxter' 'Walter Huston'
 'Jack Benny' 'Mack Swain' 'Kathryn McGuire' 'Woody Harrelson'
 'Ha Jung-woo' 'Patrick Stewart' 'Jacob Tremblay' 'María Marull'
 'F. Murray Abraham' 'Rosamund Pike' 'Sam Worthington' 'Amy Poehler'
 'Michael Kenneth Williams' 'Chris Hemsworth' 'Christian Bale'
 'Michael Keaton' 'Jake Gyllenhaal' 'Charlize Theron' 'Nick Nolte'
 'Bee Vang' 'Emma Watson' 'Joan Allen' 'Philip Seymour Hoffman'
 'Jay Baruchel' 'Vince Vaughn' 'Tommy Lee Jones' 'Natalie Portman'
 'Clint Eastwood' 'Sophie Okonedo' 'Julie Delpy' 'Kim Sang-kyung'
 'David Carradine' 'Albert Brooks' 'Tom Hanks' 'Gael García Bernal'
 'Lee Unkrich' 'Megumi Ogata' 'Haley Joel Osment' 'Jeff Bridges'
 'Maggie Cheung' 'Ewen Bremner' 'William H. Macy' 'Hubert Koundé'
 'Laura Dern' 'Pete Postlethwaite' 'Robert Sean Leonard' 'Mandy Patinkin'
 'River Phoenix' 'Tom Berenger' 'Nastassja Kinski' 'Mahito Tsujimura'
 'Wilford Brimley' 'Pernilla Allwin' 'Rutger Hauer' 'John Hurt'
 'Aleksandr Kaydanovskiy' 'John Cleese' 'Christopher Walken' 'Talia Shire'
 'William Holden' 'Marisa Berenson' 'George Kennedy' 'Ivan Lapikov'
 'Jean Martin' 'Albert Rémy' 'Jack Hawkins' 'François Périer'
 'Karl Malden' 'Charles Vanel' 'Joan Fontaine' 'Jean Arthur' 'Sam Wood'
 'Claudette Colbert' 'Eugene Silvain' 'Buster Keaton']
----------------------------------------------------------------------------------------------------
actor 3
['Manikandan' 'Bob Gunton' 'James Caan' 'Aaron Eckhart' 'Robert Duvall'
 'Martin Balsam' 'Ian McKellen' 'Samuel L. Jackson' 'Ben Kingsley'
 'Elliot Page' 'Benedict Cumberbatch' 'Meat Loaf' 'Orlando Bloom'
 'Gary Sinise' 'Lee Van Cleef' 'Viggo Mortensen' 'Laurence Fishburne'
 'Joe Pesci' 'Carrie Fisher' 'Michael Berryman' 'Yeo-jeong Cho'
 'Jessica Chastain' 'Leandro Firmino' 'Miyu Irino' 'Tom Sizemore'

In [63]:
df['year'] = df['year'].apply(lambda x: int(x.strip('-')) if len(x) <= 5 else int(x.split()[1].strip('()')))

In [82]:
df['runtime(m)']=df['runtime(m)'].apply(lambda x: int(x.split(' ')[0]))

In [92]:
df['gross collection(M-$)']=df['gross collection(M-$)'].apply(lambda x: x if type(x)==float else float(x[1:-1]))

In [108]:
df.columns=df.columns.str.strip()

### What is the minimum and maximum ratings ?

In [109]:
df['rating(10)'].min()

8.1

In [110]:
df['rating(10)'].max()

9.4

### What are the movies with rating > 9 ?

In [111]:
msk =df['rating(10)']>9
df[msk]

,movie name,year,certificate,runtime(m),genre,rating(10),director,actor 1,actor 2,actor 3,actor 4,votes,metascore,gross collection(M-$)
0,Jai Bhim,2021,TV-MA,164,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,1994,R,142,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,28.34
2,The Godfather,1972,R,175,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,134.97

### Top 10 movies per metascore and user rating

In [112]:
df.sort_values(by='metascore',ascending=False).head(10)

,movie name,year,certificate,runtime(m),genre,rating(10),director,actor 1,actor 2,actor 3,actor 4,votes,metascore,gross collection(M-$)
112,Vertigo,1958,PG,128,"Mystery, Romance, Thriller",8.3,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,387477,100.0,3.20
109,Lawrence of Arabia,1962,Approved,228,"Adventure, Biography, Drama",8.3,David Lean,Peter O'Toole,Alec Guinness,Anthony Quinn,Jack Hawkins,283057,100.0,44.82
117,Citizen Kane,1941,PG,119,"Drama, Mystery",8.3,Orson Welles,Orson Welles,Joseph Cotten,Dorothy Comingore,Agnes Moorehead,427403,100.0,1.59
50,Casablanca,1942,PG,102,"Drama, Romance, War",8.5,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,549646,100.0,1.02
49,Rear Window,1954,PG,112,"Mystery, Thriller",8.5,Alfred Hitchcock,James Stewart,Grace Kelly,Wendell Corey,Thelma Ritter,471860,100.0,36.76
2,The Godfather,1972,R,175,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,134.97
224,Fanny and Alexander,1982,R,188,Drama,8.1,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,Börje Ahlstedt,62011,100.0,4.97
113,Singin' in the Rain,1952,G,103,"Comedy, Musical, Romance",8.3,Stanley Donen,Gene Kelly,Gene Kelly,Donald O'Connor,Debbie Reynolds,232106,99.0,8.82
52,City Lights,1931,G,87,"Comedy, Drama, Romance",8.5,Charles Chaplin,Charles Chaplin,Virginia Cherrill,Florence Lee,Harry Myers,178296,99.0,0.02
31,Seven Samurai,1954,Not Rated,207,"Action, Drama",8.6,Akira Kurosawa,Toshirô Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,333085,98.0,0.27

### Top 10 genres

In [113]:
df['genre'].value_counts().head(10).to_frame()

                              count
genre
Drama                            22
Crime, Drama                     14
Biography, Drama, History         9
Drama, War                        8
Crime, Drama, Mystery             8
Animation, Adventure, Comedy      8
Action, Crime, Drama              7
Drama, Romance                    7
Action, Adventure, Drama          6
Action, Adventure, Sci-Fi         5

### Top 10 Directories

In [114]:
df['director'].value_counts().head(10).to_frame()

                   count
director
Christopher Nolan      7
Stanley Kubrick        7
Akira Kurosawa         7
Martin Scorsese        7
Alfred Hitchcock       6
Steven Spielberg       6
Charles Chaplin        5
Ingmar Bergman         5
Quentin Tarantino      5
Billy Wilder           5

### Top 10 First Actors

In [115]:
df['actor 1'].value_counts().head(10).to_frame()

                   count
actor 1
Robert De Niro         6
Tom Hanks              5
Charles Chaplin        5
Leonardo DiCaprio      5
James Stewart          4
Clint Eastwood         4
Toshirô Mifune         4
Christian Bale         4
Al Pacino              3
Harrison Ford          3

### Top 10 Second Actors

In [116]:
df['actor 2'].value_counts().head(10).to_frame()

                   count
actor 2
Matt Damon             3
Robert De Niro         3
Harrison Ford          3
Paulette Goddard       2
Liv Ullmann            2
Alec Guinness          2
Brad Pitt              2
Julie Delpy            2
Joseph Cotten          2
Robert Downey Jr.      2

In [118]:
df['genre'].unique()

array(['Crime, Drama', 'Drama', 'Action, Crime, Drama',
       'Action, Adventure, Drama', 'Biography, Drama, History',
       'Action, Adventure, Sci-Fi', 'Action, Adventure, Fantasy',
       'Drama, Romance', 'Adventure, Western', 'Action, Sci-Fi',
       'Biography, Crime, Drama', 'Comedy, Drama, Thriller',
       'Adventure, Drama, Sci-Fi', 'Animation, Adventure, Family',
       'Drama, War', 'Crime, Drama, Fantasy', 'Comedy, Drama, Romance',
       'Crime, Drama, Mystery', 'Crime, Drama, Horror',
       'Action, Drama, Mystery', 'Action, Drama',
       'Drama, Family, Fantasy', 'Drama, Music',
       'Biography, Comedy, Drama', 'Drama, Mystery, Thriller',
       'Biography, Drama, Music', 'Animation, Adventure, Drama',
       'Animation, Drama, War', 'Adventure, Comedy, Sci-Fi', 'Western',
       'Horror, Mystery, Thriller', 'Mystery, Thriller',
       'Drama, Romance, War', 'Comedy, Drama, Family',
       'Crime, Drama, Thriller', 'Animation, Drama, Fantasy',
       'Action, Biography, Drama', 'Animation, Action, Adventure',
       'Animation, Adventure, Comedy', 'Drama, Western', 'Comedy, Drama',
       'Drama, Family', 'Action, Adventure', 'Drama, Horror',
       'Drama, Mystery, War', 'Horror, Sci-Fi', 'Comedy, War',
       'Drama, Film-Noir', 'Comedy, Drama, War', 'Action, Drama, War',
       'Drama, Mystery', 'Adventure, Drama, War',
       'Drama, Romance, Sci-Fi', 'Comedy, Romance',
       'Drama, Family, Sport', 'Drama, Thriller, War',
       'Adventure, Biography, Drama', 'Comedy, Crime, Drama',
       'Crime, Sci-Fi', 'Adventure, Sci-Fi',
       'Adventure, Mystery, Thriller', 'Mystery, Romance, Thriller',
       'Comedy, Musical, Romance', 'Crime, Drama, Film-Noir',
       'Crime, Mystery, Thriller', 'Drama, Sci-Fi',
       'Comedy, Crime, Music', 'Animation, Drama',
       'Action, Comedy, Crime', 'Drama, Mystery, Romance',
       'Biography, Comedy, Crime', 'Drama, Fantasy, War',
       'Biography, Drama', 'Comedy, Crime', 'Animation, Comedy, Family',
       'Action, Thriller', 'Biography, Drama, Sport',
       'Adventure, Comedy, Fantasy', 'Crime, Drama, History',
       'Adventure, Drama, History', 'Action, Drama, Thriller',
       'Comedy, Music, Romance', 'Drama, Fantasy, History',
       'Crime, Thriller', 'Adventure, Drama, Western',
       'Comedy, Romance, War', 'Adventure, Comedy, Drama',
       'Action, Comedy, Romance', 'Drama, Romance, Thriller',
       'Action, Drama, Sci-Fi', 'Drama, Thriller',
       'Adventure, Comedy, Crime', 'Action, Drama, Sport',
       'Adventure, Fantasy, Mystery', 'Biography, Drama, Family',
       'Animation, Comedy, Drama', 'Drama, Sport',
       'Animation, Action, Drama', 'Comedy, Crime, Sport',
       'Adventure, Family, Fantasy', 'Adventure, Drama',
       'Animation, Adventure, Sci-Fi', 'Horror, Mystery, Sci-Fi',
       'Comedy', 'Adventure, Drama, Thriller',
       'Film-Noir, Mystery, Thriller', 'Drama, Film-Noir, Mystery',
       'Drama, History, Romance', 'Action, Adventure, Comedy'],
      dtype=object)

# Put some questions based on data business

### 1- for (drama) genere which year get high total gross collection ?

In [127]:
df[df['genre']=='Drama'].groupby(['year'])['gross collection(M-$)'].sum().sort_values(ascending=False).head(10).to_frame()

      gross collection(M-$)
year
1999                 167.13
2008                 148.10
1975                 112.00
2007                  40.22
1994                  28.34
1996                  16.50
2011                   7.10
1998                   6.72
1982                   4.97
2000                   3.64

### 2- get average rating for each director ?

In [132]:
df.groupby('director')['rating(10)'].mean().to_frame()

                       rating(10)
director
Aamir Khan               8.400000
Adam Elliot              8.100000
Akira Kurosawa           8.314286
Alejandro G. Iñárritu    8.100000
Alfred Hitchcock         8.316667
...                           ...
William Wyler            8.100000
Wim Wenders              8.100000
Wolfgang Petersen        8.300000
Yasujirô Ozu             8.200000
Yavuz Turgul             8.200000

[154 rows x 1 columns]

### 3- is there is a correlation between rating and voting ?

In [136]:
df[['rating(10)', 'votes']].corr()

            rating(10)     votes
rating(10)    1.000000  0.556386
votes         0.556386  1.000000

### 4- what is average gross collection after 2000 and before 2000 ?

In [142]:
msk1=df['year']>2000
msk2=df['year']<2000
df[msk1]['gross collection(M-$)'].mean(),df[msk2]['gross collection(M-$)'].mean()

(136.17291139240507, 60.27147286821706)

### 5- is there is correlation between gross collection and rating ?

In [144]:
df[['gross collection(M-$)','rating(10)']].corr()

                       gross collection(M-$)  rating(10)
gross collection(M-$)               1.000000    0.206913
rating(10)                          0.206913    1.000000

### 6- for (Martin Scorsese) director what is most work gener ?

In [150]:
df[df['director']=='Martin Scorsese']['genre'].value_counts()

genre
Crime, Drama                2
Biography, Crime, Drama     1
Action, Crime, Drama        1
Mystery, Thriller           1
Biography, Comedy, Crime    1
Biography, Drama, Sport     1
Name: count, dtype: int64

### 7- for (Tim Robbins	) actor1 what is highest work rate ?

In [152]:
df[df['actor 1']=='Tim Robbins']['rating(10)'].max()

9.3